@import '../../assets/style/variables.scss';

form {
  border-radius: 50px;
  margin: 50px 0;
  background-color: $background-form;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input[type="submit"] {
    text-decoration: none;
    color: $text-primary;
    padding: 8px 18px;
    margin-top: 10px;
    border-radius: 30px; 
    border: 2px solid black;
    box-shadow:inset 0px 0px 0px 2px rgba(255,255,255,1);
    background-color: $background-primary;
  }
}

@media only screen and (min-width: 450px) {
  form {
    border-radius: 100px;
  }
}