.employees {
  &-topTools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin-bottom: 10px;
  }
}

table {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  margin-bottom: 20px;

  tbody {
    tr {
      border-bottom: 1px solid rgb(224, 224, 224);
      height: 40px;

      &:first-child {
        background-color: rgba(0, 0, 0, 0.94);
        color: white;
        padding: 5px 0;
      }

      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.06);
      }

      td {
        padding: 15px;
      }

      th {
        position: relative;
        padding: 15px;

        &:hover {
          .arrow {
            opacity: .4;
          }
        }

        &.isActive {
          .arrow {
            opacity: 1;
          }

          &.down {
            .arrow {
              transform: rotate(0deg);
            }
          }
        }

        .arrow {
          pointer-events: none;
          opacity: 0;
          height: 15px;
          width: 15px;
          position: absolute;
          transform: rotate(180deg);
          fill: white;
        }
      }
    }
  }
}
